.alt-header {
    padding: var(--horizontal-space);
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alt-header__title {
    font-size: 24px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: auto;
    font-size: 20px;
}

.alt-header__column:last-child {
    margin-left: auto;
}